{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('main') }}">
            Back to the list
        </a>
    </li>
</ul>

<div class="btn-group">
    <div id="les10_ex1" class="btn">Elections</div>
    <div id="les10_ex1" class="btn">Policy</div>
    <div id="les10_ex1" class="btn">Finance</div>
    <div id="les10_ex1" class="btn">Society</div>
    <div id="les10_ex1" class="btn">Sport</div>
    <div id="les10_ex1" class="btn">Culture</div>
    <div id="les10_ex1" class="btn">Auto</div>
    <div id="les10_ex1" class="btn">Games</div>
<div>


{% endblock %}


{% block script %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/rssnews/js/ui.js') }}"></script>
{% endblock %}
