{% extends '::base.html.twig' %}
{% block header %}
<a href="{{ path('main') }}">
    Back to the list

 {% endblock %}
{% block body -%}
    <hr>
    {% for entities in rss %}
        <div class="row">
            <div class="span12 thumb-list">
                <h4><a href="{{ entities.link }}">{{entities.title}}</a></h4>
                <p>{{ entities.description|raw }}</p>
                <p>{{ entities.pubDate }} </p>
            </div>
        </div>
        <hr>
    {% endfor %}
    {{ knp_pagination_render(rss) }}

{% endblock %}