{% extends '::base.html.twig' %}

{% block header %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <br> <a href="{{ 'login' }}" class="btn">login</a>
{% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
   <br> <a href="{{ 'logout' }}" class="btn">logout</a>
    {% endif %}
    <a href="{{ path('category_new') }}" class="btn">category</a>

{% endblock %}

{% block body %}

    <div id="item">
        <ul>
            {% for engine in engine %}
                <li>
                    <a href="{{ path('url_show',{'id':engine.id}) }}"> {{ engine.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <br>
    <br>
    <form action="{{ path('main') }}" method="get" class="form-inline" role="form">
        <div class="row">
            <div class="span3 thumb-list">
                {{ form_row(search_form.search) }}
            </div>
            <div class="span3 thumb-list">
                {{ form_row(search_form.dateFrom) }}
            </div>
            <div class="span3 thumb-list">
                {{ form_row(search_form.dateTo) }}
            </div>
            <div class="span3 thumb-list">
                {{ form_row(search_form.sort) }}
            </div>
            <div class="span3 thumb-list"><br>

                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>
    </form>

    <h1>Accounting list</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Visitors</th>
            <th>Category</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Url</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td ><a href="{{ path('url_show',{'id':entity.id}) }}"> {{ entity.name }}</a></td>
                <td>{{ entity.visitors }}</td>
                <td>{{ entity.categoryid }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ entity.url }}</td>
                <td>
                    <div class="btn-group">
                            <a href="{{ path('accounting_show', { 'id': entity.id }) }}" class="btn">show</a>
                            <a href="{{ path('accounting_edit', { 'id': entity.id }) }}"class="btn">edit</a>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('accounting_new') }}"class="btn">
                Create a new entry
            </a>
        </li>
    </ul>
{% endif %}
    {{ knp_pagination_render(entities) }}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('bundles/rssnews/js/jquery-1.3.2.min.js') }}"></script>
    <script src="{{ asset('bundles/rssnews/js/3DEngine.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/rssnews/js/Ring.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/rssnews/js/func.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


