{% extends '::base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success_message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Accounting edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('main') }}">
            Back to the list
        </a>
    </li>
           <li><a href="{{ path('main') }}" {{ form(delete_form) }}</a></li>
</ul>
{% endblock %}
