{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Accounting list</h1>
    {% for flashMessage in app.session.flashbag.get('success_message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Datacreate</th>
                <th>Datachange</th>
                <th>Visitors</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('accounting_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.url }}</td>
                <td>{% if entity.datacreate %}{{ entity.datacreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datachange %}{{ entity.datachange|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.visitors }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('accounting_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('accounting_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('accounting_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
