{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Accounting creation</h1>


    {% for flashMessage in app.session.flashbag.get('error_message') %}
            {{ flashMessage }}
    {% endfor %}
    {{ form(form)}}
<a href="{{ path('main') }}">
    Back to the list
    </a>
{% endblock %}
