{% extends '::base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success_message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Accounting</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Datacreate</th>
                <td>{{ entity.datacreate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Datachange</th>
                <td>{{ entity.datachange|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Visitors</th>
                <td>{{ entity.visitors }}</td>
            </tr>
        </tbody>
    </table>
        <ul class="record_actions">
    <li>
        <a href="{{ path('main') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('accounting_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li><a href="{{ path('main') }}" {{ form(delete_form) }}</a></li>
</ul>
{% endblock %}
