<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/rssnews/css/bootstrap.css') }}">
    {% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
<div class="container">
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</body>
{% block script %}{% endblock %}
</html>