<h3><legend> Авторизация </legend></h3>
{% block body %}

    {% if error %}
        <div class="alert alert-error">{{ error.message }}</div>
    {% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" placeholder="Введите логин" id="username" name="_username" value="{{ last_username }}" />
    <label for="password">Password:</label>
    <input type="password" placeholder="Введите пароль" id="password" name="_password" />
    <button class="btn btn-inverse" type="submit">Log in</button>
    </form>
{% endblock %}




